@page "/DeleteDisc/{CurrentID}"
@using EFDataAccessLibrary.Models;
@inject DiscService ObjDiscService
@inject NavigationManager NavigationManager

<h2>Delete Transaction</h2>
<hr />
<h3>Are you sure?</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Employee ID:</label>
            <label>@objDisc.Id</label>
        </div>
        <div class="form-group">
            <label>Category:</label>
            <label>@objDisc.Category</label>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <label>@objDisc.Description</label>
        </div>
        <div class="form-group">
            <label>Amount:</label>
            <label>@objDisc.Amount</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="DeleteTransaction">Delete</input>
            <input type="button" class="btn btn-primary" @onclick="Cancel" value="Cancel" />
        </div>
    </div>
</div>

@code {
        
        public int CurrentID { get; set; }
        DiscInfo objDisc = new DiscInfo();

    protected override async Task OnInitializedAsync()
    {
        objDisc = await Task.Run(() => ObjDiscService.GetAllDisc().First(d =>d.Id == CurrentID));
    }

    protected void DeleteTransaction()
    {
        ObjDiscService.DeleteTransactionDisc(objDisc);
        NavigationManager.NavigateTo("Disc", true);
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Disc", true);
    }

}
